		<div class="jumbotron"> 
      <div class="container"> 
        <h2>Hello. My name is <span style="font-weight: bold; color: black;">Radi Totev</span> and I have creative ideas and build websites</h2> 
        <a class="btn right" href="portfolio">View my Work</a> 
      </div> 
    </div> 
