  <div class="jumbotron">
      <div class="container">
        <h2>Hi. My name is <span style="font-weight: bold; color: black;">Radi Totev</span> and I'm about to become developer!</h2>
        <a class="btn right" href="portfolio">View my Work</a>
      </div>
    </div>
